.App {
  text-align: center;
}
.Table{
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 30px;
}
.Footer{
  width: 10%;
  background-color: black;
}
.Carousel{
  margin-top: 0;
  width: 100%;
  
  
  
}
.d-block {
  height: 500px;

}
.Card1 {
  margin-top: 10px;
}
.img-cemento{
  height: 500px;
}

.Footer{
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0%;
}
.Table {
  margin-bottom: 200px;
  height: 80%;
}


